[project]
	description = A collaboration utility for SOFE-2800U projects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nafiz-Amin
[access "refs/for/refs/*"]
	read = group user/Nafiz-Amin
	push = group user/Nafiz-Amin
	label-Code-Review = -2..+2 group user/Nafiz-Amin
	label-Verified = -1..+1 group user/Nafiz-Amin
	rebase = group user/Nafiz-Amin
	removeReviewer = group user/Nafiz-Amin
	submit = group user/Nafiz-Amin
[access "refs/heads/*"]
	read = group user/Nafiz-Amin
	create = group user/Nafiz-Amin
	push = +force group user/Nafiz-Amin
	pushMerge = group user/Nafiz-Amin
[access "refs/tags/*"]
	push = group user/Nafiz-Amin
	push = +force group user/Nafiz-Amin
